swagger: '2.0'
info:
  title: 财务云 友账表 转换规则定义 API
  description: Move your app forward with the SSC API
  version: "1.0.0"
# the domain of the service
host: api.yyssc.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /
produces:
  - application/json

paths:

  /ficloud_web/mappingdef/query:
    x-swagger-router-controller: mappingdef_query
    post:
      description: 查询接口
      tags:
      - 转换规则模型
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - required: true
          name: body
          in: body
          description: 查询参数
          schema:
            $ref: '#/definitions/QueryModel'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponseModel'
        '404':
          description: Not Found

definitions:

  QueryModel:
    type: object
    required:
    - begin
    properties:
      condition:
        type: string
      paras:
        type: array
        items:
          type: string
      fields:
        type: array
        items:
          type: string
      begin:
        type: integer
        description: |
          请求数据起始index
      groupnum:
        type: integer
        description: |
          请求数据数量

  SuccessResponseModel:
    type: object
    required:
    - code
    - data
    properties:
      code:
        type: string
        description: 0表示成功
      data:
        type: array
        items:
          $ref: '#/definitions/TreeNodeModel'

  TreeNodeModel:
    type: object
    required:
    - title
    - key
    properties:
      title:
        type: string
      key:
        type: string
#      children:
#        type: array
#        items:
#          $ref: '#/definitions/TreeNodeModel'
    example:
      title: '交通费报销单'
      key: '2643'
