swagger: '2.0'
info:
  title: 财务云 友账表 会计平台 实体映射 EntityMap API
  description: Move your app forward with the SSC API
  version: "1.0.0"
# the domain of the service
host: api.yyssc.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /
produces:
  - application/json

paths:

  /ficloud_web/outerentitytree/querytree:
    x-swagger-router-controller: outerentitytree_querytree
    post:
      description: 查询接口
      tags:
      - 外部数据建模
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - required: true
          name: body
          in: body
          description: billtypecode
          schema:
            $ref: '#/definitions/RequestModel'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponseModel'
        '404':
          description: Not Found

  /ficloud/outerentitytree/querymdtree:
    x-swagger-router-controller: outerentitytree_querymdtree
    post:
      description: 左树查询服务
      tags:
      - 外部数据建模
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - required: true
          name: body
          in: body
          description: |
            billtypecode取mapdef.md里的des_billtype
            mappingdefid取mapdef.md里的id
          schema:
            $ref: '#/definitions/QueryMdTreeRequestModel'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponseModel'
        '404':
          description: Not Found

  /ficloud/outerentitytree/querynodedata:
    x-swagger-router-controller: outerentitytree_querynodedata
    post:
      description: |
        目前用在实体映射的右表查询服务
        暂时没有被外部数据建模用到
      tags:
      - 实体映射
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - required: true
          name: body
          in: body
          description: 节点信息
          schema:
            # 循环引用在运行时候遇到了这个错误，所以使用fake request来取代
            # UNRESOLVABLE_REFERENCE
            # Reference could not be resolved: #/definitions/TreeNodeModel
            #$ref: '#/definitions/TreeNodeModel'
            $ref: '#/definitions/FakeRequestModel'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponseModel'
        '404':
          description: Not Found

  /ficloud/outerentitytree/addnodedata:
    x-swagger-router-controller: outerentitytree_addnodedata
    post:
      description: |
        新增接口
      tags:
      - 实体映射
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
        - required: true
          name: body
          in: body
          description: 节点信息
          schema:
            $ref: '#/definitions/FakeRequestModel'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponseModel'
        '404':
          description: Not Found

definitions:

  HeadObject:
    type: object
    properties:
      id:
        type: string
      lable:
        type: string
        description: |
          用于在表格表头中显示的蚊子
      datatype: 
        type: integer
        description: |
          0 string 字符型
          2 double 数值型
          3 date 日期型
          4 boolean 布尔型
          5 ref 参照型
          6 enum 枚举型
      length:  
        type: integer
        description: |
          用于在表单中限定字段的长度
      digit:  
        type: integer
      refinfo: 
        type: string
        description: |
          仅用于参照型
          如果没有，则为null
      refinfocode: 
        type: string
        description: |
          仅用于参照型，作为`refCode`参数传给后端
          如果没有，则为null
      enumdata:
        type: string
        description: |
          仅用于枚举型
          如果没有，则为null
      hidden: 
        type: boolean
        description: |
          用于在表单中指定隐藏字段
      defaultvalue: 
        type: string
        description: |
          用于在表单中指定默认值
      entityName: 
        type: string
        description: |
    example:
      id: "credit_org"
      lable: "贷方本币（组织）"
      datatype: 20
      length: 2000
      digit: 0
      refinfo: null
      refinfocode: null
      enumdata: null
      hidden: null
      defaultvalue: null
      entityName: null

  RequestModel:
    type: object
    required:
    - billtypecode
    properties:
      billtypecode:
        type: string
        description: |
          单据类型code，比如`2643`

  # POST body 需要是一个JSON对象
  FakeRequestModel:
    type: object
    properties:
      fake:
        type: string

  QueryMdTreeRequestModel:
    type: object
    required:
    - billtypecode
    - mappingdefid
    properties:
      billtypecode:
        type: string
        description: |
          billtypecode取mapdef.md里的des_billtype，比如`C0`
      mappingdefid:
        type: string
        description: |
          mappingdefid取mapdef.md里的id，比如`1`

  SuccessResponseModel:
    type: object
    required:
    - code
    - data
    properties:
      code:
        type: string
        description: 0表示成功
      data:
        type: array
        items:
          $ref: '#/definitions/TreeNodeModel'

  TreeNodeModel:
    type: object
    required:
    - title
    - key
    properties:
      title:
        type: string
      key:
        type: string
      children:
        type: array
        items:
          $ref: '#/definitions/TreeNodeModel'
    example:
      title: '交通费报销单'
      key: '2643'
